In [63]:
import pandas as pd
import numpy as np

In [182]:
# Creating connection to database

import sqlite3 as sl

con = sl.connect('users.db')
cur = con.cursor()

In [183]:
cur.execute("DROP TABLE IF EXISTS Users")

In [184]:
data = pd.read_csv(r'data\users.csv')
data.to_sql("Users", con, index=False)

In [185]:
# Query all users
pd.read_sql_query("SELECT * FROM Users", con)

,Id,Name,Surname,Education,City,Age,Gender,JoiningYear,PaymentTier,EverBenched,ExperienceInCurrentDomain,Email,Password
0,0,Malina,Alva,PHD,Pune,32,Female,2013,2,0,1,Malina.Alva@gmail.com,fas932f23
1,1,Merrie,O'Carroll,Masters,Bangalore,51,Female,2014,1,1,1,Merrie.O'Carroll@gmail.com,f3242323
2,2,Gavrielle,Aurelio,PHD,Bangalore,37,Male,2017,3,1,3,Gavrielle.Aurelio@gmail.com,aavrw9
3,3,Lauryn,Quinn,Bachelor,Pune,36,Female,2018,2,1,6,Lauryn.Quinn@gmail.com,934813f
4,4,Nessie,Eachern,PHD,Pune,59,Female,2016,3,0,2,Nessie.Eachern@gmail.com,dsfakela
5,5,Phedra,Candy,Bachelor,New Delhi,49,Male,2012,2,1,7,Phedra.Candy@gmail.com,adbde1234
6,6,Theodora,Lamoree,Bachelor,New Delhi,57,Female,2012,2,1,2,Theodora.Lamoree@gmail.com,laien3
7,7,Chere,Hepsibah,Bachelor,Pune,57,Male,2012,3,0,7,Chere.Hepsibah@gmail.com,asfdl03
8,8,Wilma,Leifeste,PHD,New Delhi,59,Female,2016,2,0,2,Wilma.Leifeste@gmail.com,dkafkw
9,9,Ernesta,Gualtiero,PHD,New Delhi,36,Female,2012,2,1,1,Ernesta.Gualtiero@gmail.com,aldl32
10,10,Jennica,Bonucci,PHD,New Delhi,27,Female,2014,2,0,2,Jennica.Bonucci@gmail.com,zclwe1
11,11,Mildrid,Rossner,Bachelor,Pune,21,Male,2015,1,1,3,Mildrid.Rossner@gmail.com,232lasdfv
12,12,Ilse,Ethban,Bachelor,Bangalore,51,Male,2017,1,0,1,Ilse.Ethban@gmail.com,adlf323
13,13,Trudie,Ehrman,PHD,New Delhi,52,Female,2018,2,1,4,Trudie.Ehrman@gmail.com,lenvi23
14,14,Jacquetta,Shaddock,PHD,New Delhi,42,Female,2015,2,1,2,Jacquetta.Shaddock@gmail.com,allnv32
15,15,Nadine,Japeth,PHD,Pune,28,Female,2014,3,1,7,Nadine.Japeth@gmail.com,laiicked1
16,16,Nita,Nadia,PHD,Bangalore,51,Female,2018,3,0,0,Nita.Nadia@gmail.com,vnead21323
17,17,Olivette,Bobbee,Bachelor,Pune,36,Female,2015,2,0,3,Olivette.Bobbee@gmail.com,mndume
18,18,Nariko,Brotherson,Masters,Bangalore,31,Male,2015,2,0,7,Nariko.Brotherson@gmail.com,lcdwf23
19,19,Dale,Juliet,Bachelor,Bangalore,34,Male,2015,3,0,3,Dale.Juliet@gmail.com,cvsfwk1221

In [114]:
# Logging

from getpass import getpass

def logging():
    email = input("Email:")
    password = getpass("Password:")
    user = None
    
    if not email:
        print("\nEnter email!")
    else:
        data = cur.execute("SELECT * FROM Users WHERE Email=?", (email,)).fetchone()
        if not (data):
            print("\nUser with email not found!")
        else:
            if (data[-1] != password):
                print("\nWrong password!")
            else:
                user = data
                print(f"\nWelcome {user[1]}!")
    
    return list(user)

In [115]:
user = logging()

Email:Merrie.O'Carroll@gmail.com
Password:········

Welcome Merrie!

In [116]:
print(user)

[1, 'Merrie', "O'Carroll", 'Masters', 'Bangalore', 51, 'Female', 2014, 1, 1, 1, "Merrie.O'Carroll@gmail.com", 'f3242323']

In [69]:
from keras.models import load_model

model = load_model('model')

In [70]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 12)                108

 dense_4 (Dense)             (None, 8)                 104

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 221
Trainable params: 221
Non-trainable params: 0
_________________________________________________________________

In [162]:
def prepare_array_for_model(user):
    
    # mapping dictionaries
    education = {
        "Bachelor": 1,
        "Masters": 2,
        "PHD": 3
    }
    city = {
        "Bangalore": 1,
        "New Delhi": 2,
        "Pune": 3
    }
    gender = {
        "Male": 0,
        "Female": 1
    }
       
    # Process list
    # 1. Trim unnecessary params
    array = user[3:-2]
    # 2. Transform string to mappers
    array[0] = [education[i] for i in array if i in education.keys()][0]
    array[1] = [city[i] for i in array if i in city.keys()][0]
    array[3] = [gender[i] for i in array if i in gender.keys()][0]
    
    return np.array(array).reshape([1,len(array)])

array([[   2,    1,   51,    1, 2014,    1,    1,    1]])

In [177]:
# Predict if employee will leave firm in 2 years

def predict_leaving(user):
    array = prepare_array_for_model(user)
    y_pred = (model.predict(array) > 0.5).astype(int)
    return bool(y_pred.tolist()[0][0])

In [180]:
print("Predicting if you will leave firm in 2 years:")
predict_leaving(user)

Predicting if you will leave firm in 2 years:

True

In [ ]:
cur.close()